.portfolio
    display: flex
    flex-direction: column
    justify-content: center
    padding: 160px 0
    align-items: center
    &-title
        color: #b0c4de
        margin: 60px 0
        font-size: 30px
    &-projects
        display: flex
        flex-flow: row wrap
        align-items: center
        justify-content: center
        &-item
            margin: 15px
            opacity: 0
            width: 320px
            cursor: pointer
            border-radius: 8px
            &-image
                height: 400px
                background-repeat: no-repeat
                background-size: cover
                background: center
                border-top-left-radius: 8px
                border-top-right-radius: 8px
                transition: 0.7s
                &:hover
                    background-size: 1000px
                    filter: grayscale(60%)
            &-text
                width: 100%
                color: #b0c4de
                text-align: center
                font-size: 20px
                background-color: #1C1C1C
                border-bottom-left-radius: 8px
                border-bottom-right-radius: 8px
