.intro
    display: flex
    flex-direction: column
    justify-content: center
    padding: 350px 20px
    font-size: 30px
    max-width: 1200px
    animation: slideUp 1.7s ease
    color: white
    &-name
        color: #b0c4de
    &-work
        color: #FF4656
        margin: 10px 0
    &-about
        color: #B0C4DE
        font-size: 15px
    